<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block metatitle %}{% endblock %}</title>

    <meta name="description" content="{% block metadesc %}{% endblock %}"/>

    <meta name="keywords" content="">

    <meta charset="utf-8"/>

    <!-- Mobile Specifics -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="320"/>

    <!-- Modernizr -->
    <script src="includes/js/modernizr.js"></script>

    <link rel="stylesheet" type="text/css" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css"/>

    <link rel="stylesheet/less" type="text/css" href="includes/less/styles.less"/>
    <script src="includes/js/less-1.7.3.js" type="text/javascript"></script>
</head>
<body>

<header>
    {% block header %}
        {% include 'header.html.twig' %}
    {% endblock %}
</header>

{% block content %}

    <section class="whois">
        <div>
            <h1>Laissez libre cours <br/>à votre <span>imagination...</span></h1>
            <p style="font-size: 20px;color: #fff;">Sublimez vos conférences, transportez votre auditoire dans votre
                univers.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu odio mollis, vestibulum nisi vel,
                hendrerit neque.<br/> Nulla tincidunt, velit quis vestibulum pretium, ex urna semper justo, at lobortis
                neque urna sit amet quam.</p>
        </div>
    </section>
    <section class="studio">

    </section>
    <section class="ref">
        <div>
            <h2>Ils ont déjà travaillé avec nous</h2>
            <!--<p>Ils ont déjà travaillé avec nous</p>-->
            <br/>

            <img src="includes/img/logos.png" alt=""/>

            <br/><br/><br/>
            <h3>Pourquoi pas <span>vous</span> ?</h3>

        </div>
    </section>
    <section class="social">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
    </section>
    <section class="contact">
        <div>
            <h2>Le studio</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu odio mollis</p>
            <p>12 rue de Penthievre, 75008 Paris</p>

            <br/><br/>
            <center><a href="" title="" class="btn secondary">Entrez en contact avec le studio</a></center>
        </div>
    </section>
    <section class="map">
        <div class="map-shadow"></div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.223686826891!2d2.314155615674881!3d48.87301217928895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fc915567a93%3A0xb4f9b09540439f82!2sNew+showroom%2C+12+Rue+de+Penthi%C3%A8vre%2C+75008+Paris!5e0!3m2!1sfr!2sfr!4v1516967330154"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>
{% endblock %}
<footer>
    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}
</footer>
</body>
</html>