<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block metatitle %}{% endblock %}</title>
        <meta name="description" content="{% block metadesc %}{% endblock %}" />

        <meta charset="UTF-8" />

        {#{% block stylesheets %}#}
            {#{% stylesheets filter="scssphp" output="css/app.css"#}
            {#"assets/scss/toto.scss"#}
            {#%}#}
            {#<link rel="stylesheet" href="{{ asset_url }}" />#}
            {#{% endstylesheets %}#}
        {#{% endblock %}#}
        {#<link rel="stylesheet" href="{{ asset('assets/css/materialdesignicons.min.css') }}" />#}

        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <header>
            {% block header %}
                {% include 'header.html.twig' %}
            {% endblock %}
        </header>

        {% block content %}PRESTIGE{% endblock %}

        <footer>
            {% block footer %}
                {% include 'footer.html.twig' %}
            {% endblock %}
        </footer>


        {#{% block javascripts %}#}
            {#{% javascripts#}
                {#'toto.js'#}
            {#%}#}
            {#<script src="{{ asset_url }}"></script>#}
            {#{% endjavascripts %}#}
        {#{% endblock %}#}
    </body>
</html>
