<header>
    <nav>
        <ul>
            <li><a href="#services" title="">Prest'ations</a></li>
            <li><a href="#ref" title="">Références</a></li>
            <li><a href="#studio" title="">Le studio</a></li>
        </ul>
    </nav>
</header>